	<div id="navContainer">


		<div id="nav">

			<a href="#"><div id="logo">

				<img src="images/logo.svg">
               

			</div></a>

			<div id="contactContainer">

				<div id="contact">

					<div>

						<a href="mailto:hrazith@gmail.com"><div class="contact">

							Gmail

						</div></a>

					</div>

					<div>

						<a href="http://www.linkedin.com/in/harunrazith/" target="blank"><div class="contact">

							LinkedIn

						</div></a>

					</div>

					<div>

						<a href="http://www.behance.net/hrazith" target="blank"><div class="contact">

							Behance

						</div></a>

					</div>

				</div>

			</div>

			<div id="projectsContainer">

				<div id="projectsCol_1">
					 

					<a href="ubs.php"><div>

						<div class="projectsNum">
							<b>01</b>
						</div>

						<div class="projects">
							@ UBS
						</div>

					</div></a>

					<a href="stratus.php"><div>

						<div class="projectsNum">
							<b>02</b>
						</div>

						<div class="projects">
							@ Stratus
						</div>

					</div></a>

					<a href="allurent.php"><div>

						<div class="projectsNum">
							<b>03</b>
						</div>

						<div class="projects">
							@ Allurent
						</div>

					</div></a>
					
				</div>

				<div id="projectsCol_2">

					<a href="experiments.php"><div>

						<div class="projectsNum">
							<b>04</b>
						</div>

						<div class="projects">
							Experiments
						</div>

					</div></a>

					<a href="print.php"><div>

						<div class="projectsNum">
							<b>05</b>
						</div>

						<div class="projects">
							Print 
						</div>

					</div></a>

					<a href="wireframes.php"><div>

						<div class="projectsNum">
							<b>06</b>
						</div>

						<div class="projects">
							Wireframes
						</div>

					</div></a>


				</div>

			</div>	

			<div class="clear">
			</div>

		</div>


	</div>