body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:880px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:30px;
  top:67px;
  width:183px;
  height:16px;
  font-family:'LucidaGrande-Bold', 'Lucida Grande Bold', 'Lucida Grande';
  font-weight:700;
  font-style:normal;
  color:#666666;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:17px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:45px;
  top:138px;
  width:810px;
  height:19px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:810px;
  height:19px;
}
#u3 {
  position:absolute;
  left:2px;
  top:2px;
  width:806px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:140px;
  top:92px;
  width:156px;
  height:13px;
  font-family:'LucidaGrande', 'Lucida Grande';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#0099FF;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:14px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:169px;
  top:106px;
  width:10px;
  height:32px;
}
#u6_start {
  position:absolute;
  left:-5px;
  top:-4px;
  width:20px;
  height:14px;
}
#u6_end {
  position:absolute;
  left:-5px;
  top:23px;
  width:20px;
  height:14px;
}
#u6_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:32px;
}
#u7 {
  position:absolute;
  left:44px;
  top:166px;
  width:328px;
  height:10px;
}
#u7_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u7_end {
  position:absolute;
  left:319px;
  top:-5px;
  width:14px;
  height:20px;
}
#u7_line {
  position:absolute;
  left:0px;
  top:5px;
  width:328px;
  height:1px;
}
#u8 {
  position:absolute;
  left:388px;
  top:166px;
  width:29px;
  height:15px;
  font-family:'LucidaGrande', 'Lucida Grande';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CC0000;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:16px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:433px;
  top:166px;
  width:422px;
  height:10px;
}
#u10_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u10_end {
  position:absolute;
  left:413px;
  top:-5px;
  width:14px;
  height:20px;
}
#u10_line {
  position:absolute;
  left:0px;
  top:5px;
  width:422px;
  height:1px;
}
#u11 {
  position:absolute;
  left:30px;
  top:447px;
  width:720px;
  height:32px;
  font-family:'LucidaGrande-Bold', 'Lucida Grande Bold', 'Lucida Grande';
  font-weight:700;
  font-style:normal;
  color:#666666;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:721px;
  height:33px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:24px;
  top:1284px;
  width:183px;
  height:16px;
  font-family:'LucidaGrande-Bold', 'Lucida Grande Bold', 'Lucida Grande';
  font-weight:700;
  font-style:normal;
  color:#666666;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:17px;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:26px;
  top:1337px;
  width:854px;
  height:43px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:854px;
  height:43px;
}
#u16 {
  position:absolute;
  left:2px;
  top:14px;
  width:850px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:44px;
  top:241px;
  width:810px;
  height:18px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:810px;
  height:18px;
}
#u18 {
  position:absolute;
  left:2px;
  top:1px;
  width:806px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:30px;
  top:209px;
  width:183px;
  height:16px;
  font-family:'LucidaGrande-Bold', 'Lucida Grande Bold', 'Lucida Grande';
  font-weight:700;
  font-style:normal;
  color:#666666;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:17px;
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:44px;
  top:324px;
  width:810px;
  height:19px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:810px;
  height:19px;
}
#u22 {
  position:absolute;
  left:2px;
  top:2px;
  width:806px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:30px;
  top:291px;
  width:183px;
  height:16px;
  font-family:'LucidaGrande-Bold', 'Lucida Grande Bold', 'Lucida Grande';
  font-weight:700;
  font-style:normal;
  color:#666666;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:17px;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:30px;
  top:577px;
  width:183px;
  height:16px;
  font-family:'LucidaGrande-Bold', 'Lucida Grande Bold', 'Lucida Grande';
  font-weight:700;
  font-style:normal;
  color:#666666;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:17px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:24px;
  top:619px;
  width:81px;
  height:16px;
  font-family:'LucidaGrande-Bold', 'Lucida Grande Bold', 'Lucida Grande';
  font-weight:700;
  font-style:normal;
  color:#666666;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:17px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:174px;
  top:709px;
  width:231px;
  height:415px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:415px;
}
#u30 {
  position:absolute;
  left:2px;
  top:200px;
  width:227px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:174px;
  top:674px;
  width:103px;
  height:13px;
  font-family:'LucidaGrande', 'Lucida Grande';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#0099FF;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:14px;
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:200px;
  top:690px;
  width:10px;
  height:30px;
}
#u33_start {
  position:absolute;
  left:-5px;
  top:-4px;
  width:20px;
  height:14px;
}
#u33_end {
  position:absolute;
  left:-5px;
  top:21px;
  width:20px;
  height:14px;
}
#u33_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:30px;
}
#u34 {
  position:absolute;
  left:69px;
  top:741px;
  width:84px;
  height:13px;
  font-family:'LucidaGrande', 'Lucida Grande';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#0099FF;
  text-align:right;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:14px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:168px;
  top:725px;
  width:10px;
  height:44px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u36_start {
  position:absolute;
  left:-5px;
  top:-4px;
  width:20px;
  height:14px;
}
#u36_end {
  position:absolute;
  left:-5px;
  top:35px;
  width:20px;
  height:14px;
}
#u36_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:44px;
}
#u37 {
  position:absolute;
  left:30px;
  top:812px;
  width:119px;
  height:13px;
  font-family:'LucidaGrande', 'Lucida Grande';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#0099FF;
  text-align:right;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:14px;
}
#u38 {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:163px;
  top:797px;
  width:10px;
  height:42px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u39_start {
  position:absolute;
  left:-5px;
  top:-4px;
  width:20px;
  height:14px;
}
#u39_end {
  position:absolute;
  left:-5px;
  top:33px;
  width:20px;
  height:14px;
}
#u39_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:42px;
}
#u40 {
  position:absolute;
  left:58px;
  top:843px;
  width:96px;
  height:13px;
  font-family:'LucidaGrande', 'Lucida Grande';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#0099FF;
  text-align:right;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:14px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:184px;
  top:819px;
  width:10px;
  height:60px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u42_start {
  position:absolute;
  left:-5px;
  top:-4px;
  width:20px;
  height:14px;
}
#u42_end {
  position:absolute;
  left:-5px;
  top:51px;
  width:20px;
  height:14px;
}
#u42_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:60px;
}
#u43 {
  position:absolute;
  left:527px;
  top:738px;
  width:231px;
  height:415px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:415px;
}
#u44 {
  position:absolute;
  left:2px;
  top:200px;
  width:227px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:534px;
  top:724px;
  width:10px;
  height:102px;
}
#u45_start {
  position:absolute;
  left:-5px;
  top:-4px;
  width:20px;
  height:14px;
}
#u45_end {
  position:absolute;
  left:-5px;
  top:93px;
  width:20px;
  height:14px;
}
#u45_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:102px;
}
#u46 {
  position:absolute;
  left:522px;
  top:724px;
  width:10px;
  height:102px;
}
#u46_start {
  position:absolute;
  left:-5px;
  top:-4px;
  width:20px;
  height:14px;
}
#u46_end {
  position:absolute;
  left:-5px;
  top:93px;
  width:20px;
  height:14px;
}
#u46_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:102px;
}
#u47 {
  position:absolute;
  left:522px;
  top:709px;
  width:23px;
  height:15px;
  color:#CC0000;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:16px;
}
#u48 {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:537px;
  top:1097px;
  width:10px;
  height:79px;
}
#u49_start {
  position:absolute;
  left:-5px;
  top:-4px;
  width:20px;
  height:14px;
}
#u49_end {
  position:absolute;
  left:-5px;
  top:70px;
  width:20px;
  height:14px;
}
#u49_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:79px;
}
#u50 {
  position:absolute;
  left:522px;
  top:1097px;
  width:10px;
  height:79px;
}
#u50_start {
  position:absolute;
  left:-5px;
  top:-4px;
  width:20px;
  height:14px;
}
#u50_end {
  position:absolute;
  left:-5px;
  top:70px;
  width:20px;
  height:14px;
}
#u50_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:79px;
}
#u51 {
  position:absolute;
  left:525px;
  top:1177px;
  width:23px;
  height:15px;
  color:#CC0000;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:16px;
}
#u52 {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:487px;
  top:782px;
  width:155px;
  height:10px;
}
#u53_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u53_end {
  position:absolute;
  left:146px;
  top:-5px;
  width:14px;
  height:20px;
}
#u53_line {
  position:absolute;
  left:0px;
  top:5px;
  width:155px;
  height:1px;
}
#u54 {
  position:absolute;
  left:487px;
  top:791px;
  width:155px;
  height:10px;
}
#u54_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u54_end {
  position:absolute;
  left:146px;
  top:-5px;
  width:14px;
  height:20px;
}
#u54_line {
  position:absolute;
  left:0px;
  top:5px;
  width:155px;
  height:1px;
}
#u55 {
  position:absolute;
  left:477px;
  top:785px;
  width:10px;
  height:15px;
  color:#CC0000;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:16px;
}
#u56 {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:487px;
  top:826px;
  width:155px;
  height:10px;
}
#u57_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u57_end {
  position:absolute;
  left:146px;
  top:-5px;
  width:14px;
  height:20px;
}
#u57_line {
  position:absolute;
  left:0px;
  top:5px;
  width:155px;
  height:1px;
}
#u58 {
  position:absolute;
  left:487px;
  top:837px;
  width:155px;
  height:10px;
}
#u58_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u58_end {
  position:absolute;
  left:146px;
  top:-5px;
  width:14px;
  height:20px;
}
#u58_line {
  position:absolute;
  left:0px;
  top:5px;
  width:155px;
  height:1px;
}
#u59 {
  position:absolute;
  left:467px;
  top:829px;
  width:20px;
  height:15px;
  color:#CC0000;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:16px;
}
#u60 {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:487px;
  top:915px;
  width:155px;
  height:10px;
}
#u61_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u61_end {
  position:absolute;
  left:146px;
  top:-5px;
  width:14px;
  height:20px;
}
#u61_line {
  position:absolute;
  left:0px;
  top:5px;
  width:155px;
  height:1px;
}
#u62 {
  position:absolute;
  left:487px;
  top:923px;
  width:155px;
  height:10px;
}
#u62_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u62_end {
  position:absolute;
  left:146px;
  top:-5px;
  width:14px;
  height:20px;
}
#u62_line {
  position:absolute;
  left:0px;
  top:5px;
  width:155px;
  height:1px;
}
#u63 {
  position:absolute;
  left:467px;
  top:918px;
  width:20px;
  height:15px;
  color:#CC0000;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:16px;
}
#u64 {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:24px;
  top:28px;
  width:315px;
  height:21px;
  font-family:'LucidaGrande-Bold', 'Lucida Grande Bold', 'Lucida Grande';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#666666;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:316px;
  height:22px;
}
#u66 {
  position:absolute;
  left:0px;
  top:0px;
  width:315px;
  word-wrap:break-word;
}
