body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1024px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:900px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:900px;
}
#u1 {
  position:absolute;
  left:2px;
  top:442px;
  width:1020px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:801px;
  top:351px;
  width:99px;
  height:32px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:33px;
}
#u3 {
  position:absolute;
  left:2px;
  top:8px;
  width:95px;
  visibility:hidden;
  word-wrap:break-word;
}
