body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1002px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:24px;
  top:40px;
  width:978px;
  height:733px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:978px;
  height:733px;
}
#u1 {
  position:absolute;
  left:2px;
  top:358px;
  width:974px;
  visibility:hidden;
  word-wrap:break-word;
}
