body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:480px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:24px;
  top:30px;
  width:456px;
  height:21px;
  font-family:'LucidaGrande-Bold', 'Lucida Grande Bold', 'Lucida Grande';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#666666;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:457px;
  height:22px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:456px;
  word-wrap:break-word;
}
