body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:851px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:65px;
  top:1040px;
  width:563px;
  height:137px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:563px;
  height:137px;
}
#u1 {
  position:absolute;
  left:2px;
  top:60px;
  width:559px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:330px;
  top:968px;
  width:102px;
  height:13px;
  font-family:'LucidaGrande', 'Lucida Grande';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#0099FF;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:14px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:322px;
  top:786px;
  width:55px;
  height:465px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:466px;
}
#u5 {
  position:absolute;
  left:2px;
  top:224px;
  width:51px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:677px;
  top:1072px;
  width:156px;
  height:13px;
  font-family:'LucidaGrande', 'Lucida Grande';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#0099FF;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:14px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:621px;
  top:1073px;
  width:54px;
  height:10px;
}
#u8_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u8_end {
  position:absolute;
  left:45px;
  top:-5px;
  width:14px;
  height:20px;
}
#u8_line {
  position:absolute;
  left:0px;
  top:5px;
  width:54px;
  height:1px;
}
#u9 {
  position:absolute;
  left:677px;
  top:1085px;
  width:156px;
  height:13px;
  font-family:'LucidaGrande', 'Lucida Grande';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#0099FF;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:14px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:679px;
  top:1151px;
  width:156px;
  height:13px;
  font-family:'LucidaGrande', 'Lucida Grande';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#0099FF;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:14px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:621px;
  top:1152px;
  width:54px;
  height:10px;
}
#u13_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u13_end {
  position:absolute;
  left:45px;
  top:-5px;
  width:14px;
  height:20px;
}
#u13_line {
  position:absolute;
  left:0px;
  top:5px;
  width:54px;
  height:1px;
}
#u14 {
  position:absolute;
  left:695px;
  top:1122px;
  width:156px;
  height:13px;
  font-family:'LucidaGrande', 'Lucida Grande';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#0099FF;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:14px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:628px;
  top:1123px;
  width:54px;
  height:10px;
}
#u16_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u16_end {
  position:absolute;
  left:45px;
  top:-5px;
  width:14px;
  height:20px;
}
#u16_line {
  position:absolute;
  left:0px;
  top:5px;
  width:54px;
  height:1px;
}
#u17 {
  position:absolute;
  left:30px;
  top:919px;
  width:183px;
  height:16px;
  font-family:'LucidaGrande', 'Lucida Grande';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:17px;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:65px;
  top:1333px;
  width:563px;
  height:137px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:563px;
  height:137px;
}
#u20 {
  position:absolute;
  left:2px;
  top:60px;
  width:559px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:330px;
  top:1261px;
  width:102px;
  height:13px;
  font-family:'LucidaGrande', 'Lucida Grande';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#0099FF;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:14px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:322px;
  top:1079px;
  width:55px;
  height:465px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:466px;
}
#u24 {
  position:absolute;
  left:2px;
  top:224px;
  width:51px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:678px;
  top:1354px;
  width:156px;
  height:13px;
  font-family:'LucidaGrande', 'Lucida Grande';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#0099FF;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:14px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:621px;
  top:1366px;
  width:54px;
  height:10px;
}
#u27_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u27_end {
  position:absolute;
  left:45px;
  top:-5px;
  width:14px;
  height:20px;
}
#u27_line {
  position:absolute;
  left:0px;
  top:5px;
  width:54px;
  height:1px;
}
#u28 {
  position:absolute;
  left:678px;
  top:1367px;
  width:156px;
  height:13px;
  font-family:'LucidaGrande', 'Lucida Grande';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#0099FF;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:14px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:682px;
  top:1444px;
  width:156px;
  height:13px;
  font-family:'LucidaGrande', 'Lucida Grande';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#0099FF;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:14px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:621px;
  top:1445px;
  width:54px;
  height:10px;
}
#u32_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u32_end {
  position:absolute;
  left:45px;
  top:-5px;
  width:14px;
  height:20px;
}
#u32_line {
  position:absolute;
  left:0px;
  top:5px;
  width:54px;
  height:1px;
}
#u33 {
  position:absolute;
  left:688px;
  top:1415px;
  width:156px;
  height:13px;
  font-family:'LucidaGrande', 'Lucida Grande';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#0099FF;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:14px;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:628px;
  top:1416px;
  width:54px;
  height:10px;
}
#u35_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u35_end {
  position:absolute;
  left:45px;
  top:-5px;
  width:14px;
  height:20px;
}
#u35_line {
  position:absolute;
  left:0px;
  top:5px;
  width:54px;
  height:1px;
}
#u36 {
  position:absolute;
  left:30px;
  top:1235px;
  width:183px;
  height:16px;
  font-family:'LucidaGrande', 'Lucida Grande';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:17px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:30px;
  top:848px;
  width:727px;
  height:21px;
  font-family:'LucidaGrande', 'Lucida Grande';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#666666;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:728px;
  height:22px;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:727px;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:30px;
  top:61px;
  width:183px;
  height:16px;
  font-family:'LucidaGrande-Bold', 'Lucida Grande Bold', 'Lucida Grande';
  font-weight:700;
  font-style:normal;
  color:#666666;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:17px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:209px;
  top:117px;
  width:549px;
  height:315px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:549px;
  height:315px;
}
#u43 {
  position:absolute;
  left:2px;
  top:150px;
  width:545px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:237px;
  top:89px;
  width:156px;
  height:13px;
  font-family:'LucidaGrande', 'Lucida Grande';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#0099FF;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:14px;
}
#u45 {
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:271px;
  top:103px;
  width:10px;
  height:32px;
}
#u46_start {
  position:absolute;
  left:-5px;
  top:-4px;
  width:20px;
  height:14px;
}
#u46_end {
  position:absolute;
  left:-5px;
  top:23px;
  width:20px;
  height:14px;
}
#u46_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:32px;
}
#u47 {
  position:absolute;
  left:96px;
  top:163px;
  width:81px;
  height:13px;
  font-family:'LucidaGrande', 'Lucida Grande';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#0099FF;
  text-align:right;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:14px;
}
#u48 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:190px;
  top:151px;
  width:10px;
  height:39px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u49_start {
  position:absolute;
  left:-5px;
  top:-4px;
  width:20px;
  height:14px;
}
#u49_end {
  position:absolute;
  left:-5px;
  top:30px;
  width:20px;
  height:14px;
}
#u49_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:39px;
}
#u50 {
  position:absolute;
  left:117px;
  top:197px;
  width:100px;
  height:196px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:197px;
}
#u51 {
  position:absolute;
  left:2px;
  top:90px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u52 {
  position:absolute;
  left:30px;
  top:269px;
  width:83px;
  height:52px;
  font-family:'LucidaGrande', 'Lucida Grande';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#0099FF;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:53px;
}
#u53 {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  word-wrap:break-word;
}
#u54 {
  position:absolute;
  left:608px;
  top:453px;
  width:156px;
  height:13px;
  font-family:'LucidaGrande', 'Lucida Grande';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#0099FF;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:14px;
}
#u55 {
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  word-wrap:break-word;
}
#u56 {
  position:absolute;
  left:628px;
  top:423px;
  width:10px;
  height:32px;
}
#u56_start {
  position:absolute;
  left:-5px;
  top:-4px;
  width:20px;
  height:14px;
}
#u56_end {
  position:absolute;
  left:-5px;
  top:23px;
  width:20px;
  height:14px;
}
#u56_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:32px;
}
#u57 {
  position:absolute;
  left:212px;
  top:495px;
  width:549px;
  height:315px;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:549px;
  height:315px;
}
#u58 {
  position:absolute;
  left:2px;
  top:150px;
  width:545px;
  visibility:hidden;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:186px;
  top:491px;
  width:155px;
  height:10px;
}
#u59_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u59_end {
  position:absolute;
  left:146px;
  top:-5px;
  width:14px;
  height:20px;
}
#u59_line {
  position:absolute;
  left:0px;
  top:5px;
  width:155px;
  height:1px;
}
#u60 {
  position:absolute;
  left:186px;
  top:505px;
  width:155px;
  height:10px;
}
#u60_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u60_end {
  position:absolute;
  left:146px;
  top:-5px;
  width:14px;
  height:20px;
}
#u60_line {
  position:absolute;
  left:0px;
  top:5px;
  width:155px;
  height:1px;
}
#u61 {
  position:absolute;
  left:186px;
  top:515px;
  width:155px;
  height:10px;
}
#u61_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u61_end {
  position:absolute;
  left:146px;
  top:-5px;
  width:14px;
  height:20px;
}
#u61_line {
  position:absolute;
  left:0px;
  top:5px;
  width:155px;
  height:1px;
}
#u62 {
  position:absolute;
  left:186px;
  top:527px;
  width:155px;
  height:10px;
}
#u62_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u62_end {
  position:absolute;
  left:146px;
  top:-5px;
  width:14px;
  height:20px;
}
#u62_line {
  position:absolute;
  left:0px;
  top:5px;
  width:155px;
  height:1px;
}
#u63 {
  position:absolute;
  left:176px;
  top:495px;
  width:10px;
  height:15px;
  color:#CC0000;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:16px;
}
#u64 {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:176px;
  top:519px;
  width:10px;
  height:15px;
  color:#CC0000;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:16px;
}
#u66 {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  word-wrap:break-word;
}
#u67 {
  position:absolute;
  left:24px;
  top:7px;
  width:216px;
  height:23px;
  font-family:'LucidaGrande-Bold', 'Lucida Grande Bold', 'Lucida Grande';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#666666;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  height:24px;
}
#u68 {
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  word-wrap:break-word;
}
