body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:960px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:29px;
  top:152px;
  width:799px;
  height:582px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:799px;
  height:582px;
}
#u1 {
  position:absolute;
  left:2px;
  top:283px;
  width:795px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:325px;
  top:136px;
  width:10px;
  height:66px;
}
#u2_start {
  position:absolute;
  left:-5px;
  top:-4px;
  width:20px;
  height:14px;
}
#u2_end {
  position:absolute;
  left:-5px;
  top:57px;
  width:20px;
  height:14px;
}
#u2_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:66px;
}
#u3 {
  position:absolute;
  left:299px;
  top:116px;
  width:150px;
  height:13px;
  font-family:'LucidaGrande', 'Lucida Grande';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#0099FF;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:14px;
}
#u4 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:394px;
  top:160px;
  width:10px;
  height:66px;
}
#u5_start {
  position:absolute;
  left:-5px;
  top:-4px;
  width:20px;
  height:14px;
}
#u5_end {
  position:absolute;
  left:-5px;
  top:57px;
  width:20px;
  height:14px;
}
#u5_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:66px;
}
#u6 {
  position:absolute;
  left:368px;
  top:140px;
  width:150px;
  height:13px;
  font-family:'LucidaGrande', 'Lucida Grande';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#0099FF;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:14px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:867px;
  top:226px;
  width:93px;
  height:13px;
  font-family:'LucidaGrande', 'Lucida Grande';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#0099FF;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:14px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:796px;
  top:228px;
  width:68px;
  height:10px;
}
#u10_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u10_end {
  position:absolute;
  left:59px;
  top:-5px;
  width:14px;
  height:20px;
}
#u10_line {
  position:absolute;
  left:0px;
  top:5px;
  width:68px;
  height:1px;
}
#u11 {
  position:absolute;
  left:29px;
  top:828px;
  width:799px;
  height:582px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:799px;
  height:582px;
}
#u12 {
  position:absolute;
  left:2px;
  top:283px;
  width:795px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:314px;
  top:819px;
  width:10px;
  height:174px;
}
#u13_start {
  position:absolute;
  left:-5px;
  top:-4px;
  width:20px;
  height:14px;
}
#u13_end {
  position:absolute;
  left:-5px;
  top:165px;
  width:20px;
  height:14px;
}
#u13_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:174px;
}
#u14 {
  position:absolute;
  left:285px;
  top:819px;
  width:10px;
  height:174px;
}
#u14_start {
  position:absolute;
  left:-5px;
  top:-4px;
  width:20px;
  height:14px;
}
#u14_end {
  position:absolute;
  left:-5px;
  top:165px;
  width:20px;
  height:14px;
}
#u14_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:174px;
}
#u15 {
  position:absolute;
  left:296px;
  top:811px;
  width:14px;
  height:15px;
  color:#CC0000;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:16px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:565px;
  top:812px;
  width:10px;
  height:174px;
}
#u17_start {
  position:absolute;
  left:-5px;
  top:-4px;
  width:20px;
  height:14px;
}
#u17_end {
  position:absolute;
  left:-5px;
  top:165px;
  width:20px;
  height:14px;
}
#u17_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:174px;
}
#u18 {
  position:absolute;
  left:488px;
  top:812px;
  width:10px;
  height:174px;
}
#u18_start {
  position:absolute;
  left:-5px;
  top:-4px;
  width:20px;
  height:14px;
}
#u18_end {
  position:absolute;
  left:-5px;
  top:165px;
  width:20px;
  height:14px;
}
#u18_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:174px;
}
#u19 {
  position:absolute;
  left:515px;
  top:804px;
  width:14px;
  height:15px;
  color:#CC0000;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:16px;
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:614px;
  top:896px;
  width:236px;
  height:10px;
}
#u21_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u21_end {
  position:absolute;
  left:227px;
  top:-5px;
  width:14px;
  height:20px;
}
#u21_line {
  position:absolute;
  left:0px;
  top:5px;
  width:236px;
  height:1px;
}
#u22 {
  position:absolute;
  left:614px;
  top:881px;
  width:236px;
  height:10px;
}
#u22_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u22_end {
  position:absolute;
  left:227px;
  top:-5px;
  width:14px;
  height:20px;
}
#u22_line {
  position:absolute;
  left:0px;
  top:5px;
  width:236px;
  height:1px;
}
#u23 {
  position:absolute;
  left:827px;
  top:886px;
  width:43px;
  height:15px;
  color:#CC0000;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:16px;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:748px;
  top:1022px;
  width:113px;
  height:10px;
}
#u25_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u25_end {
  position:absolute;
  left:104px;
  top:-5px;
  width:14px;
  height:20px;
}
#u25_line {
  position:absolute;
  left:0px;
  top:5px;
  width:113px;
  height:1px;
}
#u26 {
  position:absolute;
  left:748px;
  top:1013px;
  width:113px;
  height:10px;
}
#u26_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u26_end {
  position:absolute;
  left:104px;
  top:-5px;
  width:14px;
  height:20px;
}
#u26_line {
  position:absolute;
  left:0px;
  top:5px;
  width:113px;
  height:1px;
}
#u27 {
  position:absolute;
  left:863px;
  top:1015px;
  width:25px;
  height:15px;
  color:#CC0000;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:16px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:24px;
  top:30px;
  width:281px;
  height:21px;
  font-family:'LucidaGrande-Bold', 'Lucida Grande Bold', 'Lucida Grande';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#666666;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:282px;
  height:22px;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  word-wrap:break-word;
}
