body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:888px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:159px;
  top:664px;
  width:428px;
  height:337px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:428px;
  height:337px;
}
#u1 {
  position:absolute;
  left:2px;
  top:160px;
  width:424px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:307px;
  top:640px;
  width:108px;
  height:13px;
  font-family:'LucidaGrande', 'Lucida Grande';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#0099FF;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:14px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:303px;
  top:667px;
  width:36px;
  height:10px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u4_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u4_end {
  position:absolute;
  left:27px;
  top:-5px;
  width:14px;
  height:20px;
}
#u4_line {
  position:absolute;
  left:0px;
  top:5px;
  width:36px;
  height:1px;
}
#u5 {
  position:absolute;
  left:63px;
  top:934px;
  width:87px;
  height:13px;
  font-family:'LucidaGrande', 'Lucida Grande';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#0099FF;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:14px;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:146px;
  top:936px;
  width:55px;
  height:10px;
}
#u7_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u7_end {
  position:absolute;
  left:46px;
  top:-5px;
  width:14px;
  height:20px;
}
#u7_line {
  position:absolute;
  left:0px;
  top:5px;
  width:55px;
  height:1px;
}
#u8 {
  position:absolute;
  left:56px;
  top:708px;
  width:80px;
  height:13px;
  font-family:'LucidaGrande', 'Lucida Grande';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#0099FF;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:14px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:139px;
  top:710px;
  width:44px;
  height:10px;
}
#u10_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u10_end {
  position:absolute;
  left:35px;
  top:-5px;
  width:14px;
  height:20px;
}
#u10_line {
  position:absolute;
  left:0px;
  top:5px;
  width:44px;
  height:1px;
}
#u11 {
  position:absolute;
  left:44px;
  top:738px;
  width:87px;
  height:13px;
  font-family:'LucidaGrande', 'Lucida Grande';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#0099FF;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:14px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:118px;
  top:740px;
  width:65px;
  height:10px;
}
#u13_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u13_end {
  position:absolute;
  left:56px;
  top:-5px;
  width:14px;
  height:20px;
}
#u13_line {
  position:absolute;
  left:0px;
  top:5px;
  width:65px;
  height:1px;
}
#u14 {
  position:absolute;
  left:156px;
  top:1037px;
  width:108px;
  height:13px;
  font-family:'LucidaGrande', 'Lucida Grande';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#0099FF;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:14px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:173px;
  top:1003px;
  width:59px;
  height:10px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u16_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u16_end {
  position:absolute;
  left:50px;
  top:-5px;
  width:14px;
  height:20px;
}
#u16_line {
  position:absolute;
  left:0px;
  top:5px;
  width:59px;
  height:1px;
}
#u17 {
  position:absolute;
  left:274px;
  top:1037px;
  width:108px;
  height:13px;
  font-family:'LucidaGrande', 'Lucida Grande';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#0099FF;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:14px;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:250px;
  top:1003px;
  width:60px;
  height:10px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u19_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u19_end {
  position:absolute;
  left:51px;
  top:-5px;
  width:14px;
  height:20px;
}
#u19_line {
  position:absolute;
  left:0px;
  top:5px;
  width:60px;
  height:1px;
}
#u20 {
  position:absolute;
  left:194px;
  top:640px;
  width:108px;
  height:13px;
  font-family:'LucidaGrande', 'Lucida Grande';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#0099FF;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:14px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:214px;
  top:693px;
  width:87px;
  height:10px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u22_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u22_end {
  position:absolute;
  left:78px;
  top:-5px;
  width:14px;
  height:20px;
}
#u22_line {
  position:absolute;
  left:0px;
  top:5px;
  width:87px;
  height:1px;
}
#u23 {
  position:absolute;
  left:437px;
  top:640px;
  width:108px;
  height:13px;
  font-family:'LucidaGrande', 'Lucida Grande';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#0099FF;
  text-align:right;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:14px;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:347px;
  top:693px;
  width:123px;
  height:10px;
  -webkit-transform:rotate(135deg);
  -moz-transform:rotate(135deg);
  -ms-transform:rotate(135deg);
  transform:rotate(135deg);
}
#u25_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u25_end {
  position:absolute;
  left:114px;
  top:-5px;
  width:14px;
  height:20px;
}
#u25_line {
  position:absolute;
  left:0px;
  top:5px;
  width:123px;
  height:1px;
}
#u26 {
  position:absolute;
  left:619px;
  top:932px;
  width:108px;
  height:13px;
  font-family:'LucidaGrande', 'Lucida Grande';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#0099FF;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:14px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:445px;
  top:934px;
  width:174px;
  height:10px;
}
#u28_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u28_end {
  position:absolute;
  left:165px;
  top:-5px;
  width:14px;
  height:20px;
}
#u28_line {
  position:absolute;
  left:0px;
  top:5px;
  width:174px;
  height:1px;
}
#u29 {
  position:absolute;
  left:51px;
  top:794px;
  width:87px;
  height:13px;
  font-family:'LucidaGrande', 'Lucida Grande';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#0099FF;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:14px;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:130px;
  top:796px;
  width:65px;
  height:10px;
}
#u31_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u31_end {
  position:absolute;
  left:56px;
  top:-5px;
  width:14px;
  height:20px;
}
#u31_line {
  position:absolute;
  left:0px;
  top:5px;
  width:65px;
  height:1px;
}
#u32 {
  position:absolute;
  left:51px;
  top:807px;
  width:134px;
  height:13px;
  font-family:'LucidaGrande', 'Lucida Grande';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#0099FF;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:14px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:130px;
  top:809px;
  width:135px;
  height:10px;
}
#u34_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u34_end {
  position:absolute;
  left:126px;
  top:-5px;
  width:14px;
  height:20px;
}
#u34_line {
  position:absolute;
  left:0px;
  top:5px;
  width:135px;
  height:1px;
}
#u35 {
  position:absolute;
  left:156px;
  top:1146px;
  width:428px;
  height:337px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:428px;
  height:337px;
}
#u36 {
  position:absolute;
  left:2px;
  top:160px;
  width:424px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:239px;
  top:1445px;
  width:10px;
  height:71px;
}
#u37_start {
  position:absolute;
  left:-5px;
  top:-4px;
  width:20px;
  height:14px;
}
#u37_end {
  position:absolute;
  left:-5px;
  top:62px;
  width:20px;
  height:14px;
}
#u37_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:71px;
}
#u38 {
  position:absolute;
  left:233px;
  top:1445px;
  width:10px;
  height:71px;
}
#u38_start {
  position:absolute;
  left:-5px;
  top:-4px;
  width:20px;
  height:14px;
}
#u38_end {
  position:absolute;
  left:-5px;
  top:62px;
  width:20px;
  height:14px;
}
#u38_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:71px;
}
#u39 {
  position:absolute;
  left:238px;
  top:1515px;
  width:14px;
  height:15px;
  color:#CC0000;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:16px;
}
#u40 {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:402px;
  top:1146px;
  width:206px;
  height:10px;
}
#u41_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u41_end {
  position:absolute;
  left:197px;
  top:-5px;
  width:14px;
  height:20px;
}
#u41_line {
  position:absolute;
  left:0px;
  top:5px;
  width:206px;
  height:1px;
}
#u42 {
  position:absolute;
  left:402px;
  top:1158px;
  width:206px;
  height:10px;
}
#u42_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u42_end {
  position:absolute;
  left:197px;
  top:-5px;
  width:14px;
  height:20px;
}
#u42_line {
  position:absolute;
  left:0px;
  top:5px;
  width:206px;
  height:1px;
}
#u43 {
  position:absolute;
  left:608px;
  top:1149px;
  width:25px;
  height:15px;
  color:#CC0000;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:16px;
}
#u44 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:179px;
  top:1449px;
  width:10px;
  height:73px;
}
#u45_start {
  position:absolute;
  left:-5px;
  top:-4px;
  width:20px;
  height:14px;
}
#u45_end {
  position:absolute;
  left:-5px;
  top:64px;
  width:20px;
  height:14px;
}
#u45_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:73px;
}
#u46 {
  position:absolute;
  left:155px;
  top:1449px;
  width:10px;
  height:73px;
}
#u46_start {
  position:absolute;
  left:-5px;
  top:-4px;
  width:20px;
  height:14px;
}
#u46_end {
  position:absolute;
  left:-5px;
  top:64px;
  width:20px;
  height:14px;
}
#u46_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:73px;
}
#u47 {
  position:absolute;
  left:164px;
  top:1515px;
  width:14px;
  height:15px;
  color:#CC0000;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:16px;
}
#u48 {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:136px;
  top:1180px;
  width:99px;
  height:10px;
}
#u49_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u49_end {
  position:absolute;
  left:90px;
  top:-5px;
  width:14px;
  height:20px;
}
#u49_line {
  position:absolute;
  left:0px;
  top:5px;
  width:99px;
  height:1px;
}
#u50 {
  position:absolute;
  left:136px;
  top:1187px;
  width:99px;
  height:10px;
}
#u50_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u50_end {
  position:absolute;
  left:90px;
  top:-5px;
  width:14px;
  height:20px;
}
#u50_line {
  position:absolute;
  left:0px;
  top:5px;
  width:99px;
  height:1px;
}
#u51 {
  position:absolute;
  left:127px;
  top:1182px;
  width:25px;
  height:15px;
  color:#CC0000;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:16px;
}
#u52 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:138px;
  top:1233px;
  width:123px;
  height:10px;
}
#u53_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u53_end {
  position:absolute;
  left:114px;
  top:-5px;
  width:14px;
  height:20px;
}
#u53_line {
  position:absolute;
  left:0px;
  top:5px;
  width:123px;
  height:1px;
}
#u54 {
  position:absolute;
  left:138px;
  top:1243px;
  width:123px;
  height:10px;
}
#u54_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u54_end {
  position:absolute;
  left:114px;
  top:-5px;
  width:14px;
  height:20px;
}
#u54_line {
  position:absolute;
  left:0px;
  top:5px;
  width:123px;
  height:1px;
}
#u55 {
  position:absolute;
  left:123px;
  top:1236px;
  width:31px;
  height:15px;
  color:#CC0000;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:16px;
}
#u56 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:142px;
  top:1197px;
  width:123px;
  height:10px;
}
#u57_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u57_end {
  position:absolute;
  left:114px;
  top:-5px;
  width:14px;
  height:20px;
}
#u57_line {
  position:absolute;
  left:0px;
  top:5px;
  width:123px;
  height:1px;
}
#u58 {
  position:absolute;
  left:142px;
  top:1212px;
  width:123px;
  height:10px;
}
#u58_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u58_end {
  position:absolute;
  left:114px;
  top:-5px;
  width:14px;
  height:20px;
}
#u58_line {
  position:absolute;
  left:0px;
  top:5px;
  width:123px;
  height:1px;
}
#u59 {
  position:absolute;
  left:127px;
  top:1202px;
  width:31px;
  height:15px;
  color:#CC0000;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:16px;
}
#u60 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:138px;
  top:1382px;
  width:123px;
  height:10px;
}
#u61_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u61_end {
  position:absolute;
  left:114px;
  top:-5px;
  width:14px;
  height:20px;
}
#u61_line {
  position:absolute;
  left:0px;
  top:5px;
  width:123px;
  height:1px;
}
#u62 {
  position:absolute;
  left:138px;
  top:1393px;
  width:123px;
  height:10px;
}
#u62_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u62_end {
  position:absolute;
  left:114px;
  top:-5px;
  width:14px;
  height:20px;
}
#u62_line {
  position:absolute;
  left:0px;
  top:5px;
  width:123px;
  height:1px;
}
#u63 {
  position:absolute;
  left:123px;
  top:1385px;
  width:31px;
  height:15px;
  color:#CC0000;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:16px;
}
#u64 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:436px;
  top:1393px;
  width:164px;
  height:10px;
}
#u65_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u65_end {
  position:absolute;
  left:155px;
  top:-5px;
  width:14px;
  height:20px;
}
#u65_line {
  position:absolute;
  left:0px;
  top:5px;
  width:164px;
  height:1px;
}
#u66 {
  position:absolute;
  left:436px;
  top:1405px;
  width:164px;
  height:10px;
}
#u66_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u66_end {
  position:absolute;
  left:155px;
  top:-5px;
  width:14px;
  height:20px;
}
#u66_line {
  position:absolute;
  left:0px;
  top:5px;
  width:164px;
  height:1px;
}
#u67 {
  position:absolute;
  left:600px;
  top:1396px;
  width:31px;
  height:15px;
  color:#CC0000;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:16px;
}
#u68 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  word-wrap:break-word;
}
#u69 {
  position:absolute;
  left:30px;
  top:583px;
  width:270px;
  height:21px;
  font-family:'LucidaGrande', 'Lucida Grande';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#666666;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:22px;
}
#u70 {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  word-wrap:break-word;
}
#u71 {
  position:absolute;
  left:30px;
  top:326px;
  width:248px;
  height:237px;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  height:237px;
}
#u72 {
  position:absolute;
  left:2px;
  top:110px;
  width:244px;
  visibility:hidden;
  word-wrap:break-word;
}
#u73 {
  position:absolute;
  left:598px;
  top:327px;
  width:248px;
  height:237px;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  height:237px;
}
#u74 {
  position:absolute;
  left:2px;
  top:110px;
  width:244px;
  visibility:hidden;
  word-wrap:break-word;
}
#u75 {
  position:absolute;
  left:189px;
  top:262px;
  width:156px;
  height:13px;
  font-family:'LucidaGrande', 'Lucida Grande';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#0099FF;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:14px;
}
#u76 {
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  word-wrap:break-word;
}
#u77 {
  position:absolute;
  left:248px;
  top:171px;
  width:10px;
  height:91px;
}
#u77_start {
  position:absolute;
  left:-5px;
  top:-4px;
  width:20px;
  height:14px;
}
#u77_end {
  position:absolute;
  left:-5px;
  top:82px;
  width:20px;
  height:14px;
}
#u77_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:91px;
}
#u78 {
  position:absolute;
  left:37px;
  top:86px;
  width:270px;
  height:21px;
  font-family:'LucidaGrande', 'Lucida Grande';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#666666;
}
#u78_img {
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:22px;
}
#u79 {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  word-wrap:break-word;
}
#u80 {
  position:absolute;
  left:163px;
  top:156px;
  width:190px;
  height:15px;
}
#u80_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:15px;
}
#u81 {
  position:absolute;
  left:2px;
  top:0px;
  width:186px;
  visibility:hidden;
  word-wrap:break-word;
}
#u82 {
  position:absolute;
  left:344px;
  top:152px;
  width:41px;
  height:23px;
}
#u82_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:24px;
}
#u83 {
  position:absolute;
  left:2px;
  top:4px;
  width:37px;
  visibility:hidden;
  word-wrap:break-word;
}
#u84 {
  position:absolute;
  left:268px;
  top:366px;
  width:140px;
  height:13px;
  font-family:'LucidaGrande', 'Lucida Grande';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#0099FF;
}
#u84_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:14px;
}
#u85 {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  word-wrap:break-word;
}
#u86 {
  position:absolute;
  left:122px;
  top:369px;
  width:144px;
  height:10px;
}
#u86_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u86_end {
  position:absolute;
  left:135px;
  top:-5px;
  width:14px;
  height:20px;
}
#u86_line {
  position:absolute;
  left:0px;
  top:5px;
  width:144px;
  height:1px;
}
#u87 {
  position:absolute;
  left:354px;
  top:476px;
  width:108px;
  height:13px;
  font-family:'LucidaGrande', 'Lucida Grande';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#0099FF;
}
#u87_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:14px;
}
#u88 {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  word-wrap:break-word;
}
#u89 {
  position:absolute;
  left:226px;
  top:479px;
  width:122px;
  height:10px;
}
#u89_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u89_end {
  position:absolute;
  left:113px;
  top:-5px;
  width:14px;
  height:20px;
}
#u89_line {
  position:absolute;
  left:0px;
  top:5px;
  width:122px;
  height:1px;
}
#u90 {
  position:absolute;
  left:241px;
  top:396px;
  width:100px;
  height:80px;
}
#u90_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:81px;
}
#u91 {
  position:absolute;
  left:2px;
  top:32px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u92 {
  position:absolute;
  left:349px;
  top:416px;
  width:140px;
  height:39px;
  font-family:'LucidaGrande', 'Lucida Grande';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#0099FF;
}
#u92_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:40px;
}
#u93 {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  word-wrap:break-word;
}
#u94 {
  position:absolute;
  left:671px;
  top:348px;
  width:188px;
  height:10px;
}
#u94_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u94_end {
  position:absolute;
  left:179px;
  top:-5px;
  width:14px;
  height:20px;
}
#u94_line {
  position:absolute;
  left:0px;
  top:5px;
  width:188px;
  height:1px;
}
#u95 {
  position:absolute;
  left:671px;
  top:359px;
  width:188px;
  height:10px;
}
#u95_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u95_end {
  position:absolute;
  left:179px;
  top:-5px;
  width:14px;
  height:20px;
}
#u95_line {
  position:absolute;
  left:0px;
  top:5px;
  width:188px;
  height:1px;
}
#u96 {
  position:absolute;
  left:863px;
  top:352px;
  width:25px;
  height:15px;
  color:#CC0000;
}
#u96_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:16px;
}
#u97 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  word-wrap:break-word;
}
#u98 {
  position:absolute;
  left:631px;
  top:466px;
  width:10px;
  height:73px;
}
#u98_start {
  position:absolute;
  left:-5px;
  top:-4px;
  width:20px;
  height:14px;
}
#u98_end {
  position:absolute;
  left:-5px;
  top:64px;
  width:20px;
  height:14px;
}
#u98_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:73px;
}
#u99 {
  position:absolute;
  left:616px;
  top:466px;
  width:10px;
  height:73px;
}
#u99_start {
  position:absolute;
  left:-5px;
  top:-4px;
  width:20px;
  height:14px;
}
#u99_end {
  position:absolute;
  left:-5px;
  top:64px;
  width:20px;
  height:14px;
}
#u99_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:73px;
}
#u100 {
  position:absolute;
  left:621px;
  top:533px;
  width:14px;
  height:15px;
  color:#CC0000;
}
#u100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:16px;
}
#u101 {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  word-wrap:break-word;
}
#u102 {
  position:absolute;
  left:664px;
  top:380px;
  width:188px;
  height:10px;
}
#u102_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u102_end {
  position:absolute;
  left:179px;
  top:-5px;
  width:14px;
  height:20px;
}
#u102_line {
  position:absolute;
  left:0px;
  top:5px;
  width:188px;
  height:1px;
}
#u103 {
  position:absolute;
  left:664px;
  top:393px;
  width:188px;
  height:10px;
}
#u103_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u103_end {
  position:absolute;
  left:179px;
  top:-5px;
  width:14px;
  height:20px;
}
#u103_line {
  position:absolute;
  left:0px;
  top:5px;
  width:188px;
  height:1px;
}
#u104 {
  position:absolute;
  left:856px;
  top:386px;
  width:25px;
  height:15px;
  color:#CC0000;
}
#u104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:16px;
}
#u105 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  word-wrap:break-word;
}
#u106 {
  position:absolute;
  left:54px;
  top:524px;
  width:74px;
  height:10px;
}
#u106_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u106_end {
  position:absolute;
  left:65px;
  top:-5px;
  width:14px;
  height:20px;
}
#u106_line {
  position:absolute;
  left:0px;
  top:5px;
  width:74px;
  height:1px;
}
#u107 {
  position:absolute;
  left:135px;
  top:524px;
  width:24px;
  height:15px;
  font-family:'LucidaGrande', 'Lucida Grande';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CC0000;
}
#u107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:16px;
}
#u108 {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  word-wrap:break-word;
}
#u109 {
  position:absolute;
  left:166px;
  top:524px;
  width:88px;
  height:10px;
}
#u109_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u109_end {
  position:absolute;
  left:79px;
  top:-5px;
  width:14px;
  height:20px;
}
#u109_line {
  position:absolute;
  left:0px;
  top:5px;
  width:88px;
  height:1px;
}
#u110 {
  position:absolute;
  left:24px;
  top:30px;
  width:329px;
  height:21px;
  font-family:'LucidaGrande-Bold', 'Lucida Grande Bold', 'Lucida Grande';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#666666;
}
#u110_img {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:22px;
}
#u111 {
  position:absolute;
  left:0px;
  top:0px;
  width:329px;
  word-wrap:break-word;
}
#u112 {
  position:absolute;
  left:402px;
  top:734px;
  width:152px;
  height:24px;
}
#u112_img {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:24px;
}
#u113 {
  position:absolute;
  left:2px;
  top:4px;
  width:148px;
  visibility:hidden;
  word-wrap:break-word;
}
#u114 {
  position:absolute;
  left:645px;
  top:732px;
  width:108px;
  height:26px;
  font-family:'LucidaGrande', 'Lucida Grande';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#0099FF;
}
#u114_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:27px;
}
#u115 {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  word-wrap:break-word;
}
#u116 {
  position:absolute;
  left:554px;
  top:739px;
  width:81px;
  height:10px;
}
#u116_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u116_end {
  position:absolute;
  left:72px;
  top:-5px;
  width:14px;
  height:20px;
}
#u116_line {
  position:absolute;
  left:0px;
  top:5px;
  width:81px;
  height:1px;
}
#u117 {
  position:absolute;
  left:402px;
  top:1215px;
  width:152px;
  height:24px;
}
#u117_img {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:24px;
}
#u118 {
  position:absolute;
  left:2px;
  top:4px;
  width:148px;
  visibility:hidden;
  word-wrap:break-word;
}
