body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:884px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:32px;
  top:1077px;
  width:216px;
  height:21px;
  font-family:'LucidaGrande', 'Lucida Grande';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#666666;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  height:22px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:30px;
  top:1128px;
  width:854px;
  height:42px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:854px;
  height:42px;
}
#u3 {
  position:absolute;
  left:2px;
  top:13px;
  width:850px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:150px;
  top:627px;
  width:428px;
  height:349px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:428px;
  height:349px;
}
#u5 {
  position:absolute;
  left:2px;
  top:166px;
  width:424px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:233px;
  top:933px;
  width:10px;
  height:71px;
}
#u6_start {
  position:absolute;
  left:-5px;
  top:-4px;
  width:20px;
  height:14px;
}
#u6_end {
  position:absolute;
  left:-5px;
  top:62px;
  width:20px;
  height:14px;
}
#u6_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:71px;
}
#u7 {
  position:absolute;
  left:227px;
  top:933px;
  width:10px;
  height:71px;
}
#u7_start {
  position:absolute;
  left:-5px;
  top:-4px;
  width:20px;
  height:14px;
}
#u7_end {
  position:absolute;
  left:-5px;
  top:62px;
  width:20px;
  height:14px;
}
#u7_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:71px;
}
#u8 {
  position:absolute;
  left:231px;
  top:1002px;
  width:14px;
  height:15px;
  color:#CC0000;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:16px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:382px;
  top:627px;
  width:224px;
  height:10px;
}
#u10_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u10_end {
  position:absolute;
  left:215px;
  top:-5px;
  width:14px;
  height:20px;
}
#u10_line {
  position:absolute;
  left:0px;
  top:5px;
  width:224px;
  height:1px;
}
#u11 {
  position:absolute;
  left:382px;
  top:640px;
  width:224px;
  height:10px;
}
#u11_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u11_end {
  position:absolute;
  left:215px;
  top:-5px;
  width:14px;
  height:20px;
}
#u11_line {
  position:absolute;
  left:0px;
  top:5px;
  width:224px;
  height:1px;
}
#u12 {
  position:absolute;
  left:612px;
  top:631px;
  width:15px;
  height:15px;
  color:#CC0000;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:122px;
  top:660px;
  width:123px;
  height:10px;
}
#u14_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u14_end {
  position:absolute;
  left:114px;
  top:-5px;
  width:14px;
  height:20px;
}
#u14_line {
  position:absolute;
  left:0px;
  top:5px;
  width:123px;
  height:1px;
}
#u15 {
  position:absolute;
  left:122px;
  top:693px;
  width:123px;
  height:10px;
}
#u15_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u15_end {
  position:absolute;
  left:114px;
  top:-5px;
  width:14px;
  height:20px;
}
#u15_line {
  position:absolute;
  left:0px;
  top:5px;
  width:123px;
  height:1px;
}
#u16 {
  position:absolute;
  left:105px;
  top:678px;
  width:31px;
  height:15px;
  color:#CC0000;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:16px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:120px;
  top:714px;
  width:123px;
  height:10px;
}
#u18_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u18_end {
  position:absolute;
  left:114px;
  top:-5px;
  width:14px;
  height:20px;
}
#u18_line {
  position:absolute;
  left:0px;
  top:5px;
  width:123px;
  height:1px;
}
#u19 {
  position:absolute;
  left:120px;
  top:726px;
  width:123px;
  height:10px;
}
#u19_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u19_end {
  position:absolute;
  left:114px;
  top:-5px;
  width:14px;
  height:20px;
}
#u19_line {
  position:absolute;
  left:0px;
  top:5px;
  width:123px;
  height:1px;
}
#u20 {
  position:absolute;
  left:105px;
  top:718px;
  width:31px;
  height:15px;
  color:#CC0000;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:16px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:120px;
  top:886px;
  width:123px;
  height:10px;
}
#u22_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u22_end {
  position:absolute;
  left:114px;
  top:-5px;
  width:14px;
  height:20px;
}
#u22_line {
  position:absolute;
  left:0px;
  top:5px;
  width:123px;
  height:1px;
}
#u23 {
  position:absolute;
  left:120px;
  top:898px;
  width:123px;
  height:10px;
}
#u23_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u23_end {
  position:absolute;
  left:114px;
  top:-5px;
  width:14px;
  height:20px;
}
#u23_line {
  position:absolute;
  left:0px;
  top:5px;
  width:123px;
  height:1px;
}
#u24 {
  position:absolute;
  left:105px;
  top:890px;
  width:31px;
  height:15px;
  color:#CC0000;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:16px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:173px;
  top:923px;
  width:10px;
  height:85px;
}
#u26_start {
  position:absolute;
  left:-5px;
  top:-4px;
  width:20px;
  height:14px;
}
#u26_end {
  position:absolute;
  left:-5px;
  top:76px;
  width:20px;
  height:14px;
}
#u26_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:85px;
}
#u27 {
  position:absolute;
  left:149px;
  top:923px;
  width:10px;
  height:85px;
}
#u27_start {
  position:absolute;
  left:-5px;
  top:-4px;
  width:20px;
  height:14px;
}
#u27_end {
  position:absolute;
  left:-5px;
  top:76px;
  width:20px;
  height:14px;
}
#u27_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:85px;
}
#u28 {
  position:absolute;
  left:158px;
  top:1000px;
  width:14px;
  height:15px;
  color:#CC0000;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:16px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:152px;
  top:172px;
  width:428px;
  height:349px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:428px;
  height:349px;
}
#u31 {
  position:absolute;
  left:2px;
  top:166px;
  width:424px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:300px;
  top:148px;
  width:108px;
  height:13px;
  font-family:'LucidaGrande', 'Lucida Grande';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#0099FF;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:14px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:296px;
  top:176px;
  width:36px;
  height:10px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u34_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u34_end {
  position:absolute;
  left:27px;
  top:-5px;
  width:14px;
  height:20px;
}
#u34_line {
  position:absolute;
  left:0px;
  top:5px;
  width:36px;
  height:1px;
}
#u35 {
  position:absolute;
  left:56px;
  top:455px;
  width:87px;
  height:13px;
  font-family:'LucidaGrande', 'Lucida Grande';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#0099FF;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:14px;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:139px;
  top:457px;
  width:55px;
  height:10px;
}
#u37_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u37_end {
  position:absolute;
  left:46px;
  top:-5px;
  width:14px;
  height:20px;
}
#u37_line {
  position:absolute;
  left:0px;
  top:5px;
  width:55px;
  height:1px;
}
#u38 {
  position:absolute;
  left:37px;
  top:246px;
  width:87px;
  height:13px;
  font-family:'LucidaGrande', 'Lucida Grande';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#0099FF;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:14px;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:111px;
  top:248px;
  width:65px;
  height:10px;
}
#u40_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u40_end {
  position:absolute;
  left:56px;
  top:-5px;
  width:14px;
  height:20px;
}
#u40_line {
  position:absolute;
  left:0px;
  top:5px;
  width:65px;
  height:1px;
}
#u41 {
  position:absolute;
  left:149px;
  top:546px;
  width:108px;
  height:13px;
  font-family:'LucidaGrande', 'Lucida Grande';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#0099FF;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:14px;
}
#u42 {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:171px;
  top:518px;
  width:48px;
  height:10px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u43_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u43_end {
  position:absolute;
  left:39px;
  top:-5px;
  width:14px;
  height:20px;
}
#u43_line {
  position:absolute;
  left:0px;
  top:5px;
  width:48px;
  height:1px;
}
#u44 {
  position:absolute;
  left:267px;
  top:546px;
  width:108px;
  height:13px;
  font-family:'LucidaGrande', 'Lucida Grande';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#0099FF;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:14px;
}
#u45 {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:249px;
  top:518px;
  width:49px;
  height:10px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u46_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u46_end {
  position:absolute;
  left:40px;
  top:-5px;
  width:14px;
  height:20px;
}
#u46_line {
  position:absolute;
  left:0px;
  top:5px;
  width:49px;
  height:1px;
}
#u47 {
  position:absolute;
  left:613px;
  top:250px;
  width:87px;
  height:13px;
  font-family:'LucidaGrande', 'Lucida Grande';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#0099FF;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:14px;
}
#u48 {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:547px;
  top:252px;
  width:65px;
  height:10px;
}
#u49_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u49_end {
  position:absolute;
  left:56px;
  top:-5px;
  width:14px;
  height:20px;
}
#u49_line {
  position:absolute;
  left:0px;
  top:5px;
  width:65px;
  height:1px;
}
#u50 {
  position:absolute;
  left:181px;
  top:148px;
  width:108px;
  height:13px;
  font-family:'LucidaGrande', 'Lucida Grande';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#0099FF;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:14px;
}
#u51 {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  word-wrap:break-word;
}
#u52 {
  position:absolute;
  left:207px;
  top:202px;
  width:87px;
  height:10px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u52_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u52_end {
  position:absolute;
  left:78px;
  top:-5px;
  width:14px;
  height:20px;
}
#u52_line {
  position:absolute;
  left:0px;
  top:5px;
  width:87px;
  height:1px;
}
#u53 {
  position:absolute;
  left:430px;
  top:148px;
  width:108px;
  height:13px;
  font-family:'LucidaGrande', 'Lucida Grande';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#0099FF;
  text-align:right;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:14px;
}
#u54 {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:340px;
  top:202px;
  width:123px;
  height:10px;
  -webkit-transform:rotate(135deg);
  -moz-transform:rotate(135deg);
  -ms-transform:rotate(135deg);
  transform:rotate(135deg);
}
#u55_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u55_end {
  position:absolute;
  left:114px;
  top:-5px;
  width:14px;
  height:20px;
}
#u55_line {
  position:absolute;
  left:0px;
  top:5px;
  width:123px;
  height:1px;
}
#u56 {
  position:absolute;
  left:612px;
  top:453px;
  width:108px;
  height:13px;
  font-family:'LucidaGrande', 'Lucida Grande';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#0099FF;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:14px;
}
#u57 {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  word-wrap:break-word;
}
#u58 {
  position:absolute;
  left:438px;
  top:455px;
  width:174px;
  height:10px;
}
#u58_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u58_end {
  position:absolute;
  left:165px;
  top:-5px;
  width:14px;
  height:20px;
}
#u58_line {
  position:absolute;
  left:0px;
  top:5px;
  width:174px;
  height:1px;
}
#u59 {
  position:absolute;
  left:44px;
  top:302px;
  width:87px;
  height:13px;
  font-family:'LucidaGrande', 'Lucida Grande';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#0099FF;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:14px;
}
#u60 {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:123px;
  top:304px;
  width:65px;
  height:10px;
}
#u61_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u61_end {
  position:absolute;
  left:56px;
  top:-5px;
  width:14px;
  height:20px;
}
#u61_line {
  position:absolute;
  left:0px;
  top:5px;
  width:65px;
  height:1px;
}
#u62 {
  position:absolute;
  left:30px;
  top:87px;
  width:270px;
  height:21px;
  font-family:'LucidaGrande', 'Lucida Grande';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#666666;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:22px;
}
#u63 {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  word-wrap:break-word;
}
#u64 {
  position:absolute;
  left:24px;
  top:30px;
  width:329px;
  height:21px;
  font-family:'LucidaGrande-Bold', 'Lucida Grande Bold', 'Lucida Grande';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#666666;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:22px;
}
#u65 {
  position:absolute;
  left:0px;
  top:0px;
  width:329px;
  word-wrap:break-word;
}
