body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1054px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:36px;
  top:71px;
  width:183px;
  height:16px;
  font-family:'LucidaGrande-Bold', 'Lucida Grande Bold', 'Lucida Grande';
  font-weight:700;
  font-style:normal;
  color:#666666;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:17px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:36px;
  top:134px;
  width:762px;
  height:16px;
  font-family:'LucidaGrande-Bold', 'Lucida Grande Bold', 'Lucida Grande';
  font-weight:700;
  font-style:normal;
  color:#666666;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:763px;
  height:17px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:762px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:30px;
  top:210px;
  width:183px;
  height:16px;
  font-family:'LucidaGrande-Bold', 'Lucida Grande Bold', 'Lucida Grande';
  font-weight:700;
  font-style:normal;
  color:#666666;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:17px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:102px;
  top:294px;
  width:811px;
  height:442px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:811px;
  height:442px;
}
#u7 {
  position:absolute;
  left:2px;
  top:213px;
  width:807px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:390px;
  top:256px;
  width:86px;
  height:13px;
  font-family:'LucidaGrande', 'Lucida Grande';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#0099FF;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:14px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:432px;
  top:269px;
  width:10px;
  height:32px;
}
#u10_start {
  position:absolute;
  left:-5px;
  top:-4px;
  width:20px;
  height:14px;
}
#u10_end {
  position:absolute;
  left:-5px;
  top:23px;
  width:20px;
  height:14px;
}
#u10_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:32px;
}
#u11 {
  position:absolute;
  left:946px;
  top:308px;
  width:108px;
  height:13px;
  font-family:'LucidaGrande', 'Lucida Grande';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#0099FF;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:14px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:876px;
  top:310px;
  width:59px;
  height:10px;
}
#u13_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u13_end {
  position:absolute;
  left:50px;
  top:-5px;
  width:14px;
  height:20px;
}
#u13_line {
  position:absolute;
  left:0px;
  top:5px;
  width:59px;
  height:1px;
}
#u14 {
  position:absolute;
  left:128px;
  top:262px;
  width:93px;
  height:13px;
  font-family:'LucidaGrande', 'Lucida Grande';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#0099FF;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:14px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:170px;
  top:276px;
  width:10px;
  height:32px;
}
#u16_start {
  position:absolute;
  left:-5px;
  top:-4px;
  width:20px;
  height:14px;
}
#u16_end {
  position:absolute;
  left:-5px;
  top:23px;
  width:20px;
  height:14px;
}
#u16_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:32px;
}
#u17 {
  position:absolute;
  left:536px;
  top:262px;
  width:118px;
  height:13px;
  font-family:'LucidaGrande', 'Lucida Grande';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#0099FF;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:14px;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:578px;
  top:276px;
  width:10px;
  height:32px;
}
#u19_start {
  position:absolute;
  left:-5px;
  top:-4px;
  width:20px;
  height:14px;
}
#u19_end {
  position:absolute;
  left:-5px;
  top:23px;
  width:20px;
  height:14px;
}
#u19_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:32px;
}
#u20 {
  position:absolute;
  left:102px;
  top:751px;
  width:351px;
  height:10px;
}
#u20_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u20_end {
  position:absolute;
  left:342px;
  top:-5px;
  width:14px;
  height:20px;
}
#u20_line {
  position:absolute;
  left:0px;
  top:5px;
  width:351px;
  height:1px;
}
#u21 {
  position:absolute;
  left:470px;
  top:751px;
  width:31px;
  height:15px;
  font-family:'LucidaGrande', 'Lucida Grande';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CC0000;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:16px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:518px;
  top:751px;
  width:391px;
  height:10px;
}
#u23_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u23_end {
  position:absolute;
  left:382px;
  top:-5px;
  width:14px;
  height:20px;
}
#u23_line {
  position:absolute;
  left:0px;
  top:5px;
  width:391px;
  height:1px;
}
#u24 {
  position:absolute;
  left:102px;
  top:913px;
  width:811px;
  height:442px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:811px;
  height:442px;
}
#u25 {
  position:absolute;
  left:2px;
  top:213px;
  width:807px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:102px;
  top:913px;
  width:808px;
  height:442px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:809px;
  height:443px;
}
#u27 {
  position:absolute;
  left:2px;
  top:213px;
  width:804px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:70px;
  top:935px;
  width:214px;
  height:10px;
}
#u28_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u28_end {
  position:absolute;
  left:205px;
  top:-5px;
  width:14px;
  height:20px;
}
#u28_line {
  position:absolute;
  left:0px;
  top:5px;
  width:214px;
  height:1px;
}
#u29 {
  position:absolute;
  left:70px;
  top:949px;
  width:214px;
  height:10px;
}
#u29_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u29_end {
  position:absolute;
  left:205px;
  top:-5px;
  width:14px;
  height:20px;
}
#u29_line {
  position:absolute;
  left:0px;
  top:5px;
  width:214px;
  height:1px;
}
#u30 {
  position:absolute;
  left:52px;
  top:938px;
  width:18px;
  height:15px;
  color:#CC0000;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:16px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:70px;
  top:908px;
  width:214px;
  height:10px;
}
#u32_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u32_end {
  position:absolute;
  left:205px;
  top:-5px;
  width:14px;
  height:20px;
}
#u32_line {
  position:absolute;
  left:0px;
  top:5px;
  width:214px;
  height:1px;
}
#u33 {
  position:absolute;
  left:70px;
  top:923px;
  width:214px;
  height:10px;
}
#u33_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u33_end {
  position:absolute;
  left:205px;
  top:-5px;
  width:14px;
  height:20px;
}
#u33_line {
  position:absolute;
  left:0px;
  top:5px;
  width:214px;
  height:1px;
}
#u34 {
  position:absolute;
  left:52px;
  top:913px;
  width:18px;
  height:15px;
  color:#CC0000;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:16px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:98px;
  top:895px;
  width:10px;
  height:87px;
}
#u36_start {
  position:absolute;
  left:-5px;
  top:-4px;
  width:20px;
  height:14px;
}
#u36_end {
  position:absolute;
  left:-5px;
  top:78px;
  width:20px;
  height:14px;
}
#u36_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:87px;
}
#u37 {
  position:absolute;
  left:112px;
  top:895px;
  width:10px;
  height:87px;
}
#u37_start {
  position:absolute;
  left:-5px;
  top:-4px;
  width:20px;
  height:14px;
}
#u37_end {
  position:absolute;
  left:-5px;
  top:78px;
  width:20px;
  height:14px;
}
#u37_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:87px;
}
#u38 {
  position:absolute;
  left:102px;
  top:879px;
  width:18px;
  height:15px;
  color:#CC0000;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:16px;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:486px;
  top:885px;
  width:10px;
  height:87px;
}
#u40_start {
  position:absolute;
  left:-5px;
  top:-4px;
  width:20px;
  height:14px;
}
#u40_end {
  position:absolute;
  left:-5px;
  top:78px;
  width:20px;
  height:14px;
}
#u40_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:87px;
}
#u41 {
  position:absolute;
  left:506px;
  top:885px;
  width:10px;
  height:87px;
}
#u41_start {
  position:absolute;
  left:-5px;
  top:-4px;
  width:20px;
  height:14px;
}
#u41_end {
  position:absolute;
  left:-5px;
  top:78px;
  width:20px;
  height:14px;
}
#u41_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:87px;
}
#u42 {
  position:absolute;
  left:494px;
  top:870px;
  width:18px;
  height:15px;
  color:#CC0000;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:16px;
}
#u43 {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:544px;
  top:908px;
  width:380px;
  height:10px;
}
#u44_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u44_end {
  position:absolute;
  left:371px;
  top:-5px;
  width:14px;
  height:20px;
}
#u44_line {
  position:absolute;
  left:0px;
  top:5px;
  width:380px;
  height:1px;
}
#u45 {
  position:absolute;
  left:544px;
  top:919px;
  width:380px;
  height:10px;
}
#u45_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u45_end {
  position:absolute;
  left:371px;
  top:-5px;
  width:14px;
  height:20px;
}
#u45_line {
  position:absolute;
  left:0px;
  top:5px;
  width:380px;
  height:1px;
}
#u46 {
  position:absolute;
  left:544px;
  top:939px;
  width:380px;
  height:10px;
}
#u46_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u46_end {
  position:absolute;
  left:371px;
  top:-5px;
  width:14px;
  height:20px;
}
#u46_line {
  position:absolute;
  left:0px;
  top:5px;
  width:380px;
  height:1px;
}
#u47 {
  position:absolute;
  left:544px;
  top:949px;
  width:380px;
  height:10px;
}
#u47_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u47_end {
  position:absolute;
  left:371px;
  top:-5px;
  width:14px;
  height:20px;
}
#u47_line {
  position:absolute;
  left:0px;
  top:5px;
  width:380px;
  height:1px;
}
#u48 {
  position:absolute;
  left:98px;
  top:1070px;
  width:10px;
  height:306px;
}
#u48_start {
  position:absolute;
  left:-5px;
  top:-4px;
  width:20px;
  height:14px;
}
#u48_end {
  position:absolute;
  left:-5px;
  top:297px;
  width:20px;
  height:14px;
}
#u48_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:306px;
}
#u49 {
  position:absolute;
  left:124px;
  top:1070px;
  width:10px;
  height:306px;
}
#u49_start {
  position:absolute;
  left:-5px;
  top:-4px;
  width:20px;
  height:14px;
}
#u49_end {
  position:absolute;
  left:-5px;
  top:297px;
  width:20px;
  height:14px;
}
#u49_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:306px;
}
#u50 {
  position:absolute;
  left:108px;
  top:1365px;
  width:18px;
  height:15px;
  color:#CC0000;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:16px;
}
#u51 {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  word-wrap:break-word;
}
#u52 {
  position:absolute;
  left:488px;
  top:1075px;
  width:10px;
  height:306px;
}
#u52_start {
  position:absolute;
  left:-5px;
  top:-4px;
  width:20px;
  height:14px;
}
#u52_end {
  position:absolute;
  left:-5px;
  top:297px;
  width:20px;
  height:14px;
}
#u52_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:306px;
}
#u53 {
  position:absolute;
  left:524px;
  top:1075px;
  width:10px;
  height:306px;
}
#u53_start {
  position:absolute;
  left:-5px;
  top:-4px;
  width:20px;
  height:14px;
}
#u53_end {
  position:absolute;
  left:-5px;
  top:297px;
  width:20px;
  height:14px;
}
#u53_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:306px;
}
#u54 {
  position:absolute;
  left:500px;
  top:1370px;
  width:18px;
  height:15px;
  color:#CC0000;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:16px;
}
#u55 {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  word-wrap:break-word;
}
#u56 {
  position:absolute;
  left:30px;
  top:1523px;
  width:183px;
  height:16px;
  font-family:'LucidaGrande-Bold', 'Lucida Grande Bold', 'Lucida Grande';
  font-weight:700;
  font-style:normal;
  color:#666666;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:17px;
}
#u57 {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  word-wrap:break-word;
}
#u58 {
  position:absolute;
  left:30px;
  top:1577px;
  width:854px;
  height:43px;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:854px;
  height:43px;
}
#u59 {
  position:absolute;
  left:2px;
  top:14px;
  width:850px;
  visibility:hidden;
  word-wrap:break-word;
}
#u60 {
  position:absolute;
  left:24px;
  top:30px;
  width:468px;
  height:21px;
  font-family:'LucidaGrande-Bold', 'Lucida Grande Bold', 'Lucida Grande';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#666666;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:469px;
  height:22px;
}
#u61 {
  position:absolute;
  left:0px;
  top:0px;
  width:468px;
  word-wrap:break-word;
}
